p
{
    color: black;
    font-family: Apple Chancery, cursive;
}

h1
{
    color: black;
    font-family: Apple Chancery, cursive;
}


body {
    background: white url("images/DDwallpaper.jpg") left top;
    font-family: Apple Chancery, cursive;
}

td {
    font-family: Apple Chancery, cursive;


}